body {
	padding: 0px;
	margin:0px;
}

.top {
	background-color: #ffffff;
	width: 1020px;
	margin: auto;
}

.header {
	border-bottom:1px solid #dadada;
	height: 90px;
}

.logo {
	margin-top:5px;
	float: left;
	font-family: georgia;
	font-size: 35px;
	font-weight:bold;
}

.prefstore {
	margin-top:8px;
	float: left;
	font-family: georgia;
	font-size: 35px;
	font-weight:bold;
}


.menu_button {
	float: right;
	width: 75px;
	height: 60px;
	text-align: left;
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: georgia;
	line-height: 120%;
}

.menu_button_selected {
	background-color: #00bcf2;
}

.top-menu-item {
	color: black;
	font-size: 12px;
	font-weight: bold;
}

.menu-description {
	color: gray;
	font-size: 12px;
	font-style: italic;
}


.sub_header {
	border-bottom:1px solid #dadada;
	height: 60px;
	font-family: georgia;
	vertical-align: middle;
}

.page-name {
	margin-top:18px;
	font-weight: bold;
	float: left;
	font-size:22px;
}

.page-name-selected {
	color: white;
}

.page-description {
	float:left;
	margin-top:22px;
	margin-left: 225px;
	font-size:13px;
	color:#999999;
}

.page-description-selected {
	color: black;
}

.main {
	margin-top:15px;
	font-family: georgia;
	font-size:13px;
	overflow: auto;
}

.bottom {
	min-height:220px;
	margin-top: 50px;
	background-color: #eeeeff;
}


/**
 * Styles for the Word Cloud page
 **/
#wordcloud 
{
	width: 800px;
	height: 500px;
}

#wordcloud span.w10, #wordcloud span.w9, #wordcloud span.w8, #wordcloud span.w7 {
	text-shadow: 0px 1px 1px #ccc;
}

#wordcloud span.w3, #wordcloud span.w2, #wordcloud span.w1 {
	text-shadow: 0px 1px 1px #fff;
}

a {
	color:#5555ff;
	font-size: 11px; 
}

a:hover {
	color: green;
}


/**
 * Styles for the Analysis Page
 **/

.table-header {
	font-size: 13px;
	font-weight:bold;
	background-image:url("./static/titleBack.png");
}

.table-row {
	font-size: 11px;
}

.table-odd-row {
	font-size: 11px;
	background-color: #fafafa;
}

.table-selected {
	font-size: 11px;
	background-color: #ddddff;
}

.table-hover {
	font-size: 11px;
	background-color: #eeeeff;
}

.openid_out img {
	width:105px;
	margin:3px;
	border:1px dotted gray;
}

.openid_over img {
	width:105px;
	margin:3px;
	border:1px solid gray;
}

.loginMessage {
	font-family:arial;
	color:#ff5555;
	font-size:11px
}



/**
 * Styles for the Summary Page
 **/


.table_category {
	border-bottom: 1px dotted #aaaaaa; 
	margin-bottom:25px;
	padding:5px;
}

.table_item {
	height:32px;
	display: block;
	vertical-align: middle;
}

.table_field_name {
	float:left;
	font-size:16; 
	font-weight:bold; 
	color:#009cd2;
}

.table_field_value {
	float:left;
	font-size:13; 
	font-weight:normal; 
	color:#555555; 
	padding: 2 4 4 10;
	max-width:180px;
}

.table_image {
	float:left;
}

.table_image img {
	width:50px;
}

.table_content {
	margin-left:75px
}

</style>