KERNEL=="ttyUSB*",  ACTION=="add", RUN+="/root/dataware.energymonitor/runme.sh %r/%k"
KERNEL=="ttyUSB*",  ACTION=="remove", RUN+="/root/dataware.energymonitor/killpids.sh"
