Package: dataware-resource
Version: 0.1-1
Architecture: armel
Maintainer: Tom Lodge <tlodge@gmail.com>
Installed-Size: 232
Depends: mysql-server, dbconfig-common, dataware-bottle, dataware-mysql-python, dataware-sqlalchemy, dataware-wsgiref, dataware-greenlet, dataware-gevent, dataware-sqlparse, debconf (>= 0.5) | debconf-2.0, python, python-support (>= 0.90.0)
Section: python
Priority: optional
Description: Dataware resource component
Python-Version: 2.5, 2.6
