# n.b. use "git update-index --assume-unchanged prefstore.cfg" 
# when you customize this file with you're own settings 

[DatawareResource]
port: 9000
resource_name: skeletonresource
resource_uri:  http://127.0.0.1
realm:         http://127.0.0.1

[Resources]
resources: ["skeleton_data"]

[DatawareDB]
hostname: 127.0.0.1
username: datawareuser 
password: apassword 
dbname: dataware_resource

[ResourceDB]
hostname: 127.0.0.1
username: datawareuser 
password: apassword 
dbname: dataware_resource_data 

[Catalog]
catalog_uri:  http://mydataware.catalog.com
