# n.b. use "git update-index --assume-unchanged prefstore.cfg" 
# when you customize this file with you're own settings 

[DatawareResource]
port: 9000
resource_name: energyresource
resource_uri:  http://127.0.0.1
realm:         http://127.0.0.1

[Resources]
resources: ["energy_data"]

[DatawareDB]
hostname: 127.0.0.1
username: root 
password: goatie 
dbname: dataware_resource

[ResourceDB]
hostname: 127.0.0.1
username: root 
password: goatie 
dbname: dataware_energy_data 

[Catalog]
catalog_uri:  http://ec2-54-246-16-41.eu-west-1.compute.amazonaws.com:8080
