# n.b. use "git update-index --assume-unchanged prefstore.cfg" 
# when you customize this file with you're own settings 

[DatawareResource]
port: 9000
resource_name: tomsresource
resource_uri:  http://tomsresource.hwresource.block49.net
realm:         http://tomsresource.hwresource.block49.net

[DatawareResources]
#resources: {"resources":[{"name":"energy", "resource_uri":"http://tomsresource.hwresource.block49.net"},{"name":"urls", #"resource_uri":"http://tomsresource.hwresource.block49.net"}]}

resources: {"energy":{"resource_uri":"http://tomsresource.hwresource.block49.net"}, "urls":{"resource_uri":"http://tomsresource.hwresource.block49.net"}}

[DatawareDB]
hostname: 127.0.0.1
username: root 
password: go8tie 
dbname: tomsdataware

[ResourceDB]
hostname: 127.0.0.1
username: dataware
password: d8tawar3
dbname: tomsresource 
