# n.b. use "git update-index --assume-unchanged prefstore.cfg" 
# when you customize this file with you're own settings 

[DatawareResource]
port: 9002
resource_name: petesresource
resource_uri:  http://petesresource.hwresource.block49.net
realm:         http://petesresource.hwresource.block49.net

[DatawareDB]
hostname: 127.0.0.1
username: dataware
password: d8tawar3 
dbname: petesdataware

[ResourceDB]
hostname: 127.0.0.1
username: dataware
password: d8tawar3
dbname: petesresource 
