# n.b. use "git update-index --assume-unchanged prefstore.cfg" 
# when you customize this file with you're own settings 
[PrefstoreDB]
hostname: localhost 
username: root 
password: nosoup4u 
dbname: prefstore

[HomeuserDB]
hostname: localhost 
username: root 
password: nosoup4u 
dbname: Homework

[DatawareDB]
hostname: localhost 
username: root 
password: nosoup4u 
dbname: dataware
